body {
    background-image: URL("../images/little_pluses.jpg");
}

/* all the information for the header */

.header {
    margin: auto;
    width: 960px;
}

header {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    border-color: #cccccc;
    padding: 11px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.name {
    float: left;
    width: 26%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 550;
}

#name {
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    bottom: 60px;
    right: 10px;
    text-indent: 17px;
    background-color: #4aaaaf;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 24px;
}

/* all the information for the navigation   */

.links {
    float: left;
    width: 74%;
    text-align: right;
    margin-top: 20px;
}

li {
    position: relative;
    left: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
    display: inline;
    color:#777777;
    letter-spacing: 1px;
}

.i {
    margin-left: 9px;
    margin-right: 9px;
    color: #dddddd;
}

a:link {
    text-decoration: none;
    color: #777777;
}
  
a:visited {
    text-decoration: none;
    color: #777777;
}
  
a:hover {
    text-decoration: none;
    color: #4aaaaf;
}
  
a:active {
    text-decoration: none;
    color: #777777;
}

/* code for the main body of each of the three pages  */

.main {
    margin: auto;
    text-align: left;
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin-top: 120px;
    color: #777777;
    line-height: 1.5;
}

hr {
    height: 1px;
    background-color: #cccccc;
}

img {
    float: left;
    height: 150px;
    width: 150px;
    padding-right: 20px;
    padding-top: 5px;
}

#about {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaaf;
}

/* code for the footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #666666;
    padding: 20px;
    width: 100%;
    border-top: solid;
    border-top-color: #4aaaaf;
    border-top-width: 8px;
    /* z-index: 3; */
}

.copyright {
    position: fixed;
    left: 50%;
    bottom: 0;
    font-size: 12px;
    padding-bottom: 6px;
    color: #cccccc;
}

/* code for the form on the contact page  */

textarea {
    height: 100px;
    width: 955px;
    border: 2px solid #ddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

input[type=text] {
    width: 955px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 20px;
    border: 2px solid #ddd;
    text-indent: 4px;
}

input[type=submit] {
    background-color: #4aaaaf;
    color: #ffffff;
    display: inline-block;
    height: 30px;
    width: 80px;
    border: 2px solid #ddd;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #4aaaaf;
}

/* portoflio pictures */

.row:after {
    content: "";
    display: flex;
    clear: both;
}

.column {
    float: left;
    width: 20%;
    padding: 50px;
    margin-left: -48px;
    margin-right: 25px;
}

.column img {
    height: 175px;
    width: 225px;
    margin-bottom: 34px;
}

.picture {
    position: relative;
    display: inline-block;
}

.description {
    position: absolute;
    display: inline-block;
    width: 225px;
    height: 25px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaaf;
    color: #dddddd;
    /* z-index: 1; */
    top: 140px;
    border: 3px;
    border-top: solid;
    border-bottom: solid;
    border-color: #4aaaaf;  
}

.description:hover {
    background-color: #ffffff;
    color: #4aaaaf;
    border-color: #4aaaaf;
}